In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('../../clean_data/passenger_waittimes.csv')

In [3]:
df.head()

,dt,CalendarYear,Day,Time,Avg Total Time,Max Total Time,Max # of PAX in Line
0,2017-06-07 16:05:00,2017,2017-06-07,16:05:00,0,0,0
1,2017-06-07 16:10:00,2017,2017-06-07,16:10:00,0,0,0
2,2017-06-07 16:15:00,2017,2017-06-07,16:15:00,0,0,0
3,2017-06-07 16:20:00,2017,2017-06-07,16:20:00,0,0,0
4,2017-06-07 16:25:00,2017,2017-06-07,16:25:00,0,0,0

In [4]:
def calc_PAX_through(row):
    if row[6] == 0:
        return 0
    elif row[5] == 0:
        return row[6]
    else:
        return 5.0*row[6]/row[5]

In [5]:
df['PAX_through'] = df.apply(calc_PAX_through, axis=1)

In [6]:
df.dtypes

dt                       object
CalendarYear              int64
Day                      object
Time                     object
Avg Total Time            int64
Max Total Time            int64
Max # of PAX in Line      int64
PAX_through             float64
dtype: object

In [7]:
df.head()

,dt,CalendarYear,Day,Time,Avg Total Time,Max Total Time,Max # of PAX in Line,PAX_through
0,2017-06-07 16:05:00,2017,2017-06-07,16:05:00,0,0,0,0.0
1,2017-06-07 16:10:00,2017,2017-06-07,16:10:00,0,0,0,0.0
2,2017-06-07 16:15:00,2017,2017-06-07,16:15:00,0,0,0,0.0
3,2017-06-07 16:20:00,2017,2017-06-07,16:20:00,0,0,0,0.0
4,2017-06-07 16:25:00,2017,2017-06-07,16:25:00,0,0,0,0.0

In [8]:
df[df['Max Total Time'] == 0]

,dt,CalendarYear,Day,Time,Avg Total Time,Max Total Time,Max # of PAX in Line,PAX_through
0,2017-06-07 16:05:00,2017,2017-06-07,16:05:00,0,0,0,0.0
1,2017-06-07 16:10:00,2017,2017-06-07,16:10:00,0,0,0,0.0
2,2017-06-07 16:15:00,2017,2017-06-07,16:15:00,0,0,0,0.0
3,2017-06-07 16:20:00,2017,2017-06-07,16:20:00,0,0,0,0.0
4,2017-06-07 16:25:00,2017,2017-06-07,16:25:00,0,0,0,0.0
5,2017-06-07 16:30:00,2017,2017-06-07,16:30:00,0,0,0,0.0
6,2017-06-07 16:35:00,2017,2017-06-07,16:35:00,0,0,0,0.0
7,2017-06-07 16:40:00,2017,2017-06-07,16:40:00,0,0,0,0.0
8,2017-06-07 16:45:00,2017,2017-06-07,16:45:00,0,0,0,0.0
9,2017-06-07 16:50:00,2017,2017-06-07,16:50:00,0,0,0,0.0
10,2017-06-07 16:55:00,2017,2017-06-07,16:55:00,0,0,0,0.0
11,2017-06-07 17:00:00,2017,2017-06-07,17:00:00,0,0,0,0.0
12,2017-06-07 17:05:00,2017,2017-06-07,17:05:00,0,0,0,0.0
13,2017-06-07 17:10:00,2017,2017-06-07,17:10:00,0,0,0,0.0
14,2017-06-07 17:15:00,2017,2017-06-07,17:15:00,0,0,0,0.0
15,2017-06-07 17:20:00,2017,2017-06-07,17:20:00,0,0,0,0.0
16,2017-06-07 17:25:00,2017,2017-06-07,17:25:00,0,0,0,0.0
17,2017-06-07 17:30:00,2017,2017-06-07,17:30:00,0,0,0,0.0
18,2017-06-07 17:35:00,2017,2017-06-07,17:35:00,0,0,0,0.0
19,2017-06-07 17:40:00,2017,2017-06-07,17:40:00,0,0,0,0.0
20,2017-06-07 17:45:00,2017,2017-06-07,17:45:00,0,0,0,0.0
21,2017-06-07 17:50:00,2017,2017-06-07,17:50:00,0,0,0,0.0
22,2017-06-07 17:55:00,2017,2017-06-07,17:55:00,0,0,0,0.0
23,2017-06-07 18:10:00,2017,2017-06-07,18:10:00,0,0,0,0.0
24,2017-06-07 18:15:00,2017,2017-06-07,18:15:00,0,0,0,0.0
25,2017-06-07 18:20:00,2017,2017-06-07,18:20:00,0,0,0,0.0
26,2017-06-07 18:25:00,2017,2017-06-07,18:25:00,0,0,0,0.0
27,2017-06-07 18:30:00,2017,2017-06-07,18:30:00,0,0,0,0.0
28,2017-06-07 18:35:00,2017,2017-06-07,18:35:00,0,0,0,0.0
29,2017-06-07 18:40:00,2017,2017-06-07,18:40:00,0,0,0,0.0
...,...,...,...,...,...,...,...,...
29245,2017-09-17 10:10:00,2017,2017-09-17,10:10:00,0,0,0,0.0
29246,2017-09-17 10:15:00,2017,2017-09-17,10:15:00,0,0,0,0.0
29247,2017-09-17 10:20:00,2017,2017-09-17,10:20:00,0,0,0,0.0
29248,2017-09-17 10:25:00,2017,2017-09-17,10:25:00,0,0,0,0.0
29249,2017-09-17 10:30:00,2017,2017-09-17,10:30:00,0,0,0,0.0
29250,2017-09-17 10:35:00,2017,2017-09-17,10:35:00,0,0,0,0.0
29251,2017-09-17 10:40:00,2017,2017-09-17,10:40:00,0,0,0,0.0
29252,2017-09-17 10:45:00,2017,2017-09-17,10:45:00,0,0,0,0.0
29253,2017-09-17 10:50:00,2017,2017-09-17,10:50:00,0,0,0,0.0
29254,2017-09-17 10:55:00,2017,2017-09-17,10:55:00,0,0,0,0.0
29255,2017-09-17 11:00:00,2017,2017-09-17,11:00:00,0,0,0,0.0
29256,2017-09-17 11:05:00,2017,2017-09-17,11:05:00,0,0,0,0.0
29257,2017-09-17 11:10:00,2017,2017-09-17,11:10:00,0,0,0,0.0
29258,2017-09-17 11:15:00,2017,2017-09-17,11:15:00,0,0,0,0.0
29259,2017-09-17 11:20:00,2017,2017-09-17,11:20:00,0,0,0,0.0
29260,2017-09-17 11:25:00,2017,2017-09-17,11:25:00,0,0,0,0.0
29261,2017-09-17 11:30:00,2017,2017-09-17,11:30:00,0,0,0,0.0
29262,2017-09-17 11:35:00,2017,2017-09-17,11:35:00,0,0,0,0.0
29263,2017-09-17 11:40:00,2017,2017-09-17,11:40:00,0,0,0,0.0
29264,2017-09-17 11:45:00,2017,2017-09-17,11:45:00,0,0,0,0.0
29265,2017-09-17 11:50:00,2017,2017-09-17,11:50:00,0,0,0,0.0
29266,2017-09-17 11:55:00,2017,2017-09-17,11:55:00,0,0,0,0.0
29267,2017-09-17 12:00:00,2017,2017-09-17,12:00:00,0,0,0,0.0
29268,2017-09-17 12:05:00,2017,2017-09-17,12:05:00,0,0,0,0.0
29711,2017-09-19 01:00:00,2017,2017-09-19,01:00:00,0,0,1,1.0
29721,2017-09-19 01:50:00,2017,2017-09-19,01:50:00,0,0,1,1.0
29780,2017-09-19 06:45:00,2017,2017-09-19,06:45:00,0,0,1,1.0
29791,2017-09-19 07:40:00,2017,2017-09-19,07:40:00,0,0,1,1.0
29792,2017-09-19 07:45:00,2017,2017-09-19,07:45:00,0,0,1,1.0
29918,2017-09-19 18:15:00,2017,2017-09-19,18:15:00,0,0,2,2.0