In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
date_list = [d.strftime('%-m.%-d.%y') for d in pd.date_range('09/01/2017','11/19/2017', freq='D')]

In [3]:
date_list

['9.1.17',
 '9.2.17',
 '9.3.17',
 '9.4.17',
 '9.5.17',
 '9.6.17',
 '9.7.17',
 '9.8.17',
 '9.9.17',
 '9.10.17',
 '9.11.17',
 '9.12.17',
 '9.13.17',
 '9.14.17',
 '9.15.17',
 '9.16.17',
 '9.17.17',
 '9.18.17',
 '9.19.17',
 '9.20.17',
 '9.21.17',
 '9.22.17',
 '9.23.17',
 '9.24.17',
 '9.25.17',
 '9.26.17',
 '9.27.17',
 '9.28.17',
 '9.29.17',
 '9.30.17',
 '10.1.17',
 '10.2.17',
 '10.3.17',
 '10.4.17',
 '10.5.17',
 '10.6.17',
 '10.7.17',
 '10.8.17',
 '10.9.17',
 '10.10.17',
 '10.11.17',
 '10.12.17',
 '10.13.17',
 '10.14.17',
 '10.15.17',
 '10.16.17',
 '10.17.17',
 '10.18.17',
 '10.19.17',
 '10.20.17',
 '10.21.17',
 '10.22.17',
 '10.23.17',
 '10.24.17',
 '10.25.17',
 '10.26.17',
 '10.27.17',
 '10.28.17',
 '10.29.17',
 '10.30.17',
 '10.31.17',
 '11.1.17',
 '11.2.17',
 '11.3.17',
 '11.4.17',
 '11.5.17',
 '11.6.17',
 '11.7.17',
 '11.8.17',
 '11.9.17',
 '11.10.17',
 '11.11.17',
 '11.12.17',
 '11.13.17',
 '11.14.17',
 '11.15.17',
 '11.16.17',
 '11.17.17',
 '11.18.17',
 '11.19.17']

In [4]:
data = pd.read_excel('../../raw_data/new_data/lot_info.xlsx', skiprows=11, header=None)

In [5]:
data_bad = pd.read_excel('../../raw_data/new_data/lot_info.xlsx')

In [6]:
data_bad

,ABM TAXI DISPATCH SERVICES,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,LA GUARDIA AIRPORT - DAILY REPORT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date:,"Friday 1st September, 2017",NaN,TAXIS DISPATCHED BY TERMINAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Location,NaN,NaN,Numbers of Cabs,NaN,NaN,NaN,NaN,NaN,Short Return Trips,NaN,Hack Complaints,NaN,NaN
3,Terminal A,NaN,NaN,290,NaN,NaN,NaN,NaN,NaN,2296,Issued,NaN,NaN,NaN
4,Terminal B,NaN,NaN,4274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Terminal C,NaN,NaN,2436,NaN,NaN,NaN,NaN,NaN,1267,Returned,NaN,NaN,NaN
6,Terminal D,NaN,NaN,1381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Total,NaN,NaN,8381,NaN,NaN,NaN,NaN,NaN,0.551829,% RTN,0,NaN,NaN
8,Hours,Location Capacity %,NaN,NaN,NaN,NaN,NaN,NaN,PAX WAIT TIMES (In minutes),NaN,NaN,NaN,NaN,NaN
9,NaN,P7 CAP 270,NaN,DH LOT CAP 175,NaN,TERM A CAP 25,NaN,Total,MAT,TERM B,TERM C,NaN,TERM D,NaN
10,0600-0700,27,0.100000,122.5,0.700000,2.5,0.100000,0.3,0,5,0,NaN,0,NaN
11,0700-0800,202.5,0.750000,175,1.000000,3.75,0.150000,0.633333,0,5,1,NaN,0,NaN
12,0800-0900,67.5,0.250000,175,1.000000,5,0.200000,0.483333,0,5,2,NaN,0,NaN
13,0900-1000,27,0.100000,140,0.800000,10,0.400000,0.433333,0,5,2,NaN,0,NaN
14,1000-1100,27,0.100000,61.25,0.350000,1.25,0.050000,0.166667,0,10,2,NaN,0,NaN
15,1100-1200,0,0.000000,157.5,0.900000,2.5,0.100000,0.333333,0,10,5,NaN,3,NaN
16,1200-1300,13.5,0.050000,78.75,0.450000,2.5,0.100000,0.2,0,5,5,NaN,2,NaN
17,1300-1400,67.5,0.250000,157.5,0.900000,2.5,0.100000,0.416667,0,5,3,NaN,1,NaN
18,1400-1500,27,0.100000,8.75,0.050000,2.5,0.100000,0.0833333,0,5,2,NaN,3,NaN
19,1500-1600,0,0.000000,8.75,0.050000,2.5,0.100000,0.05,0,20,2,NaN,3,NaN
20,1600-1700,0,0.000000,105,0.600000,3.75,0.150000,0.25,0,30,2,NaN,3,NaN
21,1700-1800,0,0.000000,131.25,0.750000,1.25,0.050000,0.266667,0,20,2,NaN,0,NaN
22,1800-1900,0,0.000000,78.75,0.450000,2.5,0.100000,0.183333,0,20,2,NaN,0,NaN
23,1900-2000,54,0.200000,17.5,0.100000,2.5,0.100000,0.133333,0,20,3,NaN,0,NaN
24,2000-2100,0,0.000000,105,0.600000,0.5,0.020000,0.206667,0,25,3,NaN,0,NaN
25,2100-2200,135,0.500000,52.5,0.300000,2.5,0.100000,0.3,0,25,2,NaN,5,NaN
26,2200-2300,67.5,0.250000,140,0.800000,0.25,0.010000,0.353333,0,5,2,NaN,0,NaN
27,2300-0000,40.5,0.150000,26.25,0.150000,0.5,0.020000,0.106667,0,10,2,NaN,0,NaN
28,0000-01000,0,0.000000,0,0.000000,0,0.000000,0,0,5,2,NaN,0,NaN
29,Total,39.7895,0.147368,91.6447,0.523684,2.56579,0.102632,0.257895,0,12.3684,2.31579,NaN,1.05263,NaN
30,NOTES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0600-0700,27.000000,0.100000,122.500000,0.700000,2.500000,0.100000,0.300000,0.0,5.000000,0.000000,NaN,0.000000,NaN
1,0700-0800,202.500000,0.750000,175.000000,1.000000,3.750000,0.150000,0.633333,0.0,5.000000,1.000000,NaN,0.000000,NaN
2,0800-0900,67.500000,0.250000,175.000000,1.000000,5.000000,0.200000,0.483333,0.0,5.000000,2.000000,NaN,0.000000,NaN
3,0900-1000,27.000000,0.100000,140.000000,0.800000,10.000000,0.400000,0.433333,0.0,5.000000,2.000000,NaN,0.000000,NaN
4,1000-1100,27.000000,0.100000,61.250000,0.350000,1.250000,0.050000,0.166667,0.0,10.000000,2.000000,NaN,0.000000,NaN
5,1100-1200,0.000000,0.000000,157.500000,0.900000,2.500000,0.100000,0.333333,0.0,10.000000,5.000000,NaN,3.000000,NaN
6,1200-1300,13.500000,0.050000,78.750000,0.450000,2.500000,0.100000,0.200000,0.0,5.000000,5.000000,NaN,2.000000,NaN
7,1300-1400,67.500000,0.250000,157.500000,0.900000,2.500000,0.100000,0.416667,0.0,5.000000,3.000000,NaN,1.000000,NaN
8,1400-1500,27.000000,0.100000,8.750000,0.050000,2.500000,0.100000,0.083333,0.0,5.000000,2.000000,NaN,3.000000,NaN
9,1500-1600,0.000000,0.000000,8.750000,0.050000,2.500000,0.100000,0.050000,0.0,20.000000,2.000000,NaN,3.000000,NaN
10,1600-1700,0.000000,0.000000,105.000000,0.600000,3.750000,0.150000,0.250000,0.0,30.000000,2.000000,NaN,3.000000,NaN
11,1700-1800,0.000000,0.000000,131.250000,0.750000,1.250000,0.050000,0.266667,0.0,20.000000,2.000000,NaN,0.000000,NaN
12,1800-1900,0.000000,0.000000,78.750000,0.450000,2.500000,0.100000,0.183333,0.0,20.000000,2.000000,NaN,0.000000,NaN
13,1900-2000,54.000000,0.200000,17.500000,0.100000,2.500000,0.100000,0.133333,0.0,20.000000,3.000000,NaN,0.000000,NaN
14,2000-2100,0.000000,0.000000,105.000000,0.600000,0.500000,0.020000,0.206667,0.0,25.000000,3.000000,NaN,0.000000,NaN
15,2100-2200,135.000000,0.500000,52.500000,0.300000,2.500000,0.100000,0.300000,0.0,25.000000,2.000000,NaN,5.000000,NaN
16,2200-2300,67.500000,0.250000,140.000000,0.800000,0.250000,0.010000,0.353333,0.0,5.000000,2.000000,NaN,0.000000,NaN
17,2300-0000,40.500000,0.150000,26.250000,0.150000,0.500000,0.020000,0.106667,0.0,10.000000,2.000000,NaN,0.000000,NaN
18,0000-01000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,5.000000,2.000000,NaN,0.000000,NaN
19,Total,39.789474,0.147368,91.644737,0.523684,2.565789,0.102632,0.257895,0.0,12.368421,2.315789,NaN,1.052632,NaN
20,NOTES:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data_good = pd.read_excel('../../raw_data/new_data/lot_info.xlsx', skiprows=11, skip_footer=2, header=None, names=['Hour', 'P7_num', 'P7_percent', 'DH_num', 'DH_percent', 'Term_A_num', 'Term_A_percent', 'Total_percent', 'MAT', 'Term_B_Pax_waittime', 'Term_C_Pax_waittime', 'None_1', 'Term_D_Pax_waittime', 'None_2'])

In [9]:
hours = data_good.Hour.values

In [10]:
hours

array(['0600-0700', '0700-0800', '0800-0900', '0900-1000', '1000-1100',
       '1100-1200', '1200-1300', '1300-1400', '1400-1500', '1500-1600',
       '1600-1700', '1700-1800', '1800-1900', '1900-2000', '2000-2100',
       '2100-2200', '2200-2300', '2300-0000', '0000-01000'], dtype=object)

In [11]:
data_full = pd.read_excel('../../raw_data/new_data/lot_info.xlsx', 
#                          skiprows=11, 
#                          skip_footer=2, 
                          header=None, 
                          names=['Hour', 
                                 'P7_num', 
                                 'P7_percent', 
                                 'DH_num', 
                                 'DH_percent', 
                                 'Term_A_num', 
                                 'Term_A_percent', 
                                 'Total_percent', 
                                 'MAT', 
                                 'Term_B_Pax_waittime', 
                                 'Term_C_Pax_waittime', 
                                 'None_1', 
                                 'Term_D_Pax_waittime', 
                                 'None_2'])

In [12]:
cols = ['Hour', 'P7_num', 'P7_percent', 'DH_num', 'DH_percent', 'Term_A_num', 'Term_A_percent', 'Total_percent', 'MAT', 'Term_B_Pax_waittime', 'Term_C_Pax_waittime', 'None_1', 'Term_D_Pax_waittime', 'None_2']

In [13]:
good_cols = ['Hour', 'P7_num', 'P7_percent', 'DH_num', 'DH_percent', 'Term_A_num', 'Term_A_percent', 'Total_percent', 'MAT', 'Term_B_Pax_waittime', 'Term_C_Pax_waittime', 'Term_D_Pax_waittime']

In [14]:
good_cols

['Hour',
 'P7_num',
 'P7_percent',
 'DH_num',
 'DH_percent',
 'Term_A_num',
 'Term_A_percent',
 'Total_percent',
 'MAT',
 'Term_B_Pax_waittime',
 'Term_C_Pax_waittime',
 'Term_D_Pax_waittime']

In [15]:
data_full = data_full.loc[data_full.Hour.isin(hours), good_cols]

In [16]:
data_full.insert(loc = 0, column='Date', value = '9.1.17')

In [ ]:
data_full

,Date,Hour,P7_num,P7_percent,DH_num,DH_percent,Term_A_num,Term_A_percent,Total_percent,MAT,Term_B_Pax_waittime,Term_C_Pax_waittime,Term_D_Pax_waittime
11,9.1.17,0600-0700,27,0.10,122.5,0.70,2.5,0.10,0.3,0,5,0,0
12,9.1.17,0700-0800,202.5,0.75,175,1.00,3.75,0.15,0.633333,0,5,1,0
13,9.1.17,0800-0900,67.5,0.25,175,1.00,5,0.20,0.483333,0,5,2,0
14,9.1.17,0900-1000,27,0.10,140,0.80,10,0.40,0.433333,0,5,2,0
15,9.1.17,1000-1100,27,0.10,61.25,0.35,1.25,0.05,0.166667,0,10,2,0
16,9.1.17,1100-1200,0,0.00,157.5,0.90,2.5,0.10,0.333333,0,10,5,3
17,9.1.17,1200-1300,13.5,0.05,78.75,0.45,2.5,0.10,0.2,0,5,5,2
18,9.1.17,1300-1400,67.5,0.25,157.5,0.90,2.5,0.10,0.416667,0,5,3,1
19,9.1.17,1400-1500,27,0.10,8.75,0.05,2.5,0.10,0.0833333,0,5,2,3
20,9.1.17,1500-1600,0,0.00,8.75,0.05,2.5,0.10,0.05,0,20,2,3
21,9.1.17,1600-1700,0,0.00,105,0.60,3.75,0.15,0.25,0,30,2,3
22,9.1.17,1700-1800,0,0.00,131.25,0.75,1.25,0.05,0.266667,0,20,2,0
23,9.1.17,1800-1900,0,0.00,78.75,0.45,2.5,0.10,0.183333,0,20,2,0
24,9.1.17,1900-2000,54,0.20,17.5,0.10,2.5,0.10,0.133333,0,20,3,0
25,9.1.17,2000-2100,0,0.00,105,0.60,0.5,0.02,0.206667,0,25,3,0
26,9.1.17,2100-2200,135,0.50,52.5,0.30,2.5,0.10,0.3,0,25,2,5
27,9.1.17,2200-2300,67.5,0.25,140,0.80,0.25,0.01,0.353333,0,5,2,0
28,9.1.17,2300-0000,40.5,0.15,26.25,0.15,0.5,0.02,0.106667,0,10,2,0
29,9.1.17,0000-01000,0,0.00,0,0.00,0,0.00,0,0,5,2,0

In [ ]:
df_list = []
for i in date_list:
    data_temp = pd.read_excel('../../raw_data/new_data/lot_info.xlsx', 
    #                          skiprows=11, 
    #                          skip_footer=2, 
                              sheet_name = i,
                              header=None, 
                              names=['Hour', 
                                     'P7_num', 
                                     'P7_percent', 
                                     'DH_num', 
                                     'DH_percent', 
                                     'Term_A_num', 
                                     'Term_A_percent', 
                                     'Total_percent', 
                                     'MAT', 
                                     'Term_B_Pax_waittime', 
                                     'Term_C_Pax_waittime', 
                                     'None_1', 
                                     'Term_D_Pax_waittime', 
                                     'None_2'])
    data_temp = data_temp.loc[data_temp.Hour.isin(hours), good_cols]
    data_temp.insert(loc = 0, column='Date', value = i)
    df_list.append(data_temp)

In [ ]:
final_data = pd.concat(df_list)

In [ ]:
final_data.shape

In [ ]:
len(date_list)*19

In [ ]:
final_data

In [ ]:
final_data.Hour = final_data.Hour.apply(lambda row: row.split('-')[0])

In [ ]:
pd.to_datetime('11.19.17 0600', format = '%m.%d.%y %H%M')

In [ ]:
final_data['dt'] = final_data["Date"].map(str) + ' ' + final_data["Hour"]

In [ ]:
final_data = final_data.set_index('dt')

In [ ]:
final_data.index = pd.to_datetime(final_data.index, format = '%m.%d.%y %H%M')

In [ ]:
final_data = final_data.drop(['Date', 'Hour'], axis=1)

In [ ]:
final_data.head()

In [ ]:
final_data.to_csv('../../clean_data/hourly_lot_status.csv')

### Passenger Wait Times Data

In [ ]:
passenger_waits = pd.read_excel('../../raw_data/new_data/passenger_wait_times.xlsx')

In [ ]:
passenger_waits['dt'] = pd.to_datetime(passenger_waits["Day"].map(str) + ' ' + passenger_waits["Time"].map(str))

In [ ]:
passenger_waits.head()

In [ ]:
passenger_waits = passenger_waits.set_index('dt')

In [ ]:
passenger_waits.index = pd.DatetimeIndex(passenger_waits.index)

In [ ]:
passenger_waits.to_csv('../../clean_data/passenger_waittimes.csv')

In [ ]:
passenger_waits.resample('H').mean()

In [ ]:
xlrd.__VERSION__