## Merging hourly taxi, weather, and incoming passenger data for 2017

In [1]:
import numpy as np
from tqdm import tqdm
import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

### Reading Aggregated Taxi Data

In [2]:
taxi_hourly_df = pd.read_csv('../clean_data/Aggregated_TaxiData_14-17.csv', index_col=0)

In [3]:
taxi_hourly_df.head()

                      num_pickups  num_passengers
tpep_pickup_datetime
2014-01-01 00:00:00           107           210.0
2014-01-01 01:00:00            34            45.0
2014-01-01 02:00:00            34            70.0
2014-01-01 03:00:00            12            18.0
2014-01-01 04:00:00            25            37.0

In [4]:
taxi_hourly_df.shape

(26009, 2)

In [5]:
taxi_hourly_df.index = pd.DatetimeIndex(taxi_hourly_df.index)

In [6]:
taxi_hourly_df = taxi_hourly_df.drop([pd.Timestamp('2014-11-02 01:00:00'), pd.Timestamp('2015-11-01 01:00:00'), pd.Timestamp('2017-03-12 02:00:00')])#, pd.Timestamp('2017-03-12 02:00:00')])
taxi_hourly_df.index = taxi_hourly_df.index.tz_localize('America/New_York')

In [7]:
taxi_hourly_df.index.min()

Timestamp('2014-01-01 00:00:00-0500', tz='America/New_York')

In [8]:
taxi_hourly_df.index.max()

Timestamp('2017-06-30 23:00:00-0400', tz='America/New_York')

In [9]:
taxi_hourly_df.shape

(26006, 2)

### Adding Federal Calendar Holidays

In [10]:
dr = pd.to_datetime(pd.to_datetime(taxi_hourly_df.index.date))

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

taxi_hourly_df['holiday'] = dr.isin(holidays)

In [11]:
taxi_hourly_df.shape

(26006, 3)

In [12]:
taxi_hourly_df.head()

                           num_pickups  num_passengers  holiday
tpep_pickup_datetime
2014-01-01 00:00:00-05:00          107           210.0     True
2014-01-01 01:00:00-05:00           34            45.0     True
2014-01-01 02:00:00-05:00           34            70.0     True
2014-01-01 03:00:00-05:00           12            18.0     True
2014-01-01 04:00:00-05:00           25            37.0     True

### Checking Missing Hours from Data and adding them to Datetimeindex. Also created a binary column as Indicator

In [13]:
dateindex = pd.date_range(taxi_hourly_df.index.min(), taxi_hourly_df.index.max(), freq="1H")

In [14]:
taxi_hourly_df = taxi_hourly_df.reindex(dateindex)

In [15]:
taxi_hourly_df.head()

                           num_pickups  num_passengers holiday
2014-01-01 00:00:00-05:00        107.0           210.0    True
2014-01-01 01:00:00-05:00         34.0            45.0    True
2014-01-01 02:00:00-05:00         34.0            70.0    True
2014-01-01 03:00:00-05:00         12.0            18.0    True
2014-01-01 04:00:00-05:00         25.0            37.0    True

In [16]:
taxi_hourly_df["missing_dt"] = np.NaN

In [17]:
taxi_hourly_df.loc[taxi_hourly_df.isnull().all(1) == True, "missing_dt"] = True
taxi_hourly_df.loc[~(taxi_hourly_df.missing_dt == True), "missing_dt"] = False

In [19]:
taxi_hourly_df[taxi_hourly_df.missing_dt == True].head()

                           num_pickups  num_passengers holiday missing_dt
2014-01-20 02:00:00-05:00          NaN             NaN     NaN       True
2014-01-21 03:00:00-05:00          NaN             NaN     NaN       True
2014-01-22 03:00:00-05:00          NaN             NaN     NaN       True
2014-02-12 03:00:00-05:00          NaN             NaN     NaN       True
2014-02-17 03:00:00-05:00          NaN             NaN     NaN       True

### Weather Data

In [117]:
def clean_weather(path):
    weather_df = pd.read_csv(path)
    weather_df["date"] = pd.DatetimeIndex(pd.to_datetime(weather_df.dt, unit="s")) \
                    .tz_localize('UTC').tz_convert('America/New_York')
    weather_df.drop_duplicates(['date'], keep='first', inplace = True)
    weather_df.set_index("date", inplace=True)
    
    weather_df.drop(["dt", "dt_iso", "city_id", "city_name", "lat", "lon", "weather_icon", "grnd_level", \
                 "sea_level", "clouds_all", "weather_id", "rain_1h", "rain_3h", "rain_24h", \
                 "rain_today", "snow_1h", "snow_3h", "snow_24h", "snow_today"], axis=1, inplace=True)
    return weather_df

In [118]:
weather_df = clean_weather("../clean_data/weather_NY.csv")

### Merge Taxi and Weather Data

In [119]:
taxi_weather = taxi_hourly_df.merge(right=weather_df, how='left', left_index=True, right_index=True)
taxi_weather.index = taxi_weather.index.tz_convert('America/New_York')

In [120]:
taxi_weather_filled = taxi_weather.fillna(method='ffill')

In [121]:
taxi_weather_filled.head()

,num_pickups,num_passengers,holiday,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,weather_main,weather_description
tpep_pickup_datetime,,,,,,,,,,,,
2014-01-01 00:00:00-05:00,107,210.0,True,269.27,267.59,270.93,1026.0,80.0,3.0,313.0,Clear,Sky is Clear
2014-01-01 01:00:00-05:00,34,45.0,False,268.90,267.04,270.93,1026.0,80.0,2.0,293.0,Clear,Sky is Clear
2014-01-01 02:00:00-05:00,34,70.0,False,268.48,266.48,270.37,1026.0,57.0,3.0,244.0,Clear,Sky is Clear
2014-01-01 03:00:00-05:00,12,18.0,False,268.33,265.93,270.37,1024.0,80.0,3.0,244.0,Clear,Sky is Clear
2014-01-01 04:00:00-05:00,25,37.0,False,268.10,265.37,270.37,1024.0,80.0,3.0,244.0,Clear,Sky is Clear

### Passenger seat data

In [122]:
def clean_seats(path):
    seats_per_hour = pd.read_csv(path, header=None)
#     print(seats_per_hour.head())
    seats_per_hour.columns = ['Time', 'Passengers']
    seats_per_hour["Time"] = pd.DatetimeIndex(seats_per_hour.Time)
    seats_per_hour.set_index("Time", inplace = True)

    #To get rid of errors surrounding daylight savings time. All of taxi pickups and passenger counts are NaNs for these times
    seats_per_hour = seats_per_hour.drop([pd.Timestamp('2014-03-09 02:00:00'), pd.Timestamp('2014-11-02 01:00:00'), pd.Timestamp('2015-03-08 02:00:00'), pd.Timestamp('2015-11-01 01:00:00'), pd.Timestamp('2016-03-13 02:00:00'), pd.Timestamp('2016-11-06 01:00:00'), pd.Timestamp('2017-03-12 02:00:00')])
    seats_per_hour.index = seats_per_hour.index.tz_localize('America/New_York')
    return seats_per_hour

In [123]:
seats_per_hour = clean_seats('../clean_data/passengers_per_hour_since_2014.csv')

### Merging all dataframes

In [124]:
merged_df = pd.merge(left=taxi_weather_filled, right=seats_per_hour, how='inner', left_index=True, right_index=True)

In [125]:
merged_df.shape

(26005, 13)

In [147]:
merged_df['Month'] = merged_df.index.month

In [150]:
merged_df['Hour'] = merged_df.index.hour

In [153]:
merged_df['Day'] = merged_df.index.dayofweek

In [155]:
merged_df.head()

,num_pickups,num_passengers,holiday,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,weather_main,weather_description,Passengers,Month,Hour,Day
2014-01-01 00:00:00-05:00,107,210.0,True,269.27,267.59,270.93,1026.0,80.0,3.0,313.0,Clear,Sky is Clear,108,1,0,2
2014-01-01 01:00:00-05:00,34,45.0,False,268.90,267.04,270.93,1026.0,80.0,2.0,293.0,Clear,Sky is Clear,0,1,1,2
2014-01-01 02:00:00-05:00,34,70.0,False,268.48,266.48,270.37,1026.0,57.0,3.0,244.0,Clear,Sky is Clear,0,1,2,2
2014-01-01 03:00:00-05:00,12,18.0,False,268.33,265.93,270.37,1024.0,80.0,3.0,244.0,Clear,Sky is Clear,0,1,3,2
2014-01-01 04:00:00-05:00,25,37.0,False,268.10,265.37,270.37,1024.0,80.0,3.0,244.0,Clear,Sky is Clear,0,1,4,2

In [156]:
merged_df.to_csv("../clean_data/combined_final_data.csv")

### Checking nan hours

In [130]:
df = pd.DataFrame({'P' : np.random.rand(30625)}, index=pd.date_range('2014-01-01', '2017-06-30', freq='h'))

In [133]:
df.index = df.index.tz_localize('EST')

In [136]:
check_nans = merged_df.reindex(df.index)

In [137]:
check_nans.isnull

<bound method NDFrame.isnull of                            num_pickups  num_passengers holiday     temp  \
2014-01-01 00:00:00-05:00        107.0           210.0    True  269.270
2014-01-01 01:00:00-05:00         34.0            45.0   False  268.900
2014-01-01 02:00:00-05:00         34.0            70.0   False  268.480
2014-01-01 03:00:00-05:00         12.0            18.0   False  268.330
2014-01-01 04:00:00-05:00         25.0            37.0   False  268.100
2014-01-01 05:00:00-05:00         16.0            24.0   False  268.020
2014-01-01 06:00:00-05:00         14.0            17.0   False  267.900
2014-01-01 07:00:00-05:00         21.0            35.0   False  267.590
2014-01-01 08:00:00-05:00         94.0           190.0   False  267.670
2014-01-01 09:00:00-05:00        164.0           285.0   False  269.000
2014-01-01 10:00:00-05:00        379.0           673.0   False  270.650
2014-01-01 11:00:00-05:00        367.0           703.0   False  271.410
2014-01-01 12:00:00-05:00        450.0           836.0   False  272.220
2014-01-01 13:00:00-05:00        430.0           722.0   False  272.520
2014-01-01 14:00:00-05:00        455.0           856.0   False  273.160
2014-01-01 15:00:00-05:00        565.0          1070.0   False  273.320
2014-01-01 16:00:00-05:00        542.0           995.0   False  273.320
2014-01-01 17:00:00-05:00        669.0          1227.0   False  272.830
2014-01-01 18:00:00-05:00        796.0          1553.0   False  272.580
2014-01-01 19:00:00-05:00        738.0          1354.0   False  272.110
2014-01-01 20:00:00-05:00        501.0           869.0   False  271.920
2014-01-01 21:00:00-05:00        430.0           778.0   False  271.870
2014-01-01 22:00:00-05:00        633.0          1096.0   False  271.870
2014-01-01 23:00:00-05:00        541.0           944.0   False  284.793
2014-01-02 00:00:00-05:00        235.0           444.0   False  272.100
2014-01-02 01:00:00-05:00        146.0           228.0   False  272.100
2014-01-02 02:00:00-05:00        137.0           246.0   False  272.170
2014-01-02 03:00:00-05:00         62.0           109.0   False  271.680
2014-01-02 04:00:00-05:00         66.0           110.0   False  271.630
2014-01-02 05:00:00-05:00         48.0            72.0   False  270.980
...                                ...             ...     ...      ...
2017-06-28 19:00:00-05:00        538.0           883.0   False  298.140
2017-06-28 20:00:00-05:00        537.0           951.0   False  296.830
2017-06-28 21:00:00-05:00        637.0          1012.0   False  294.850
2017-06-28 22:00:00-05:00        633.0          1009.0   False  294.000
2017-06-28 23:00:00-05:00        609.0          1003.0   False  292.990
2017-06-29 00:00:00-05:00        637.0           993.0   False  292.640
2017-06-29 01:00:00-05:00        548.0           880.0   False  291.860
2017-06-29 02:00:00-05:00        454.0           777.0   False  291.430
2017-06-29 03:00:00-05:00         35.0            55.0   False  291.120
2017-06-29 04:00:00-05:00          3.0             5.0   False  290.850
2017-06-29 05:00:00-05:00          1.0             1.0   False  290.510
2017-06-29 06:00:00-05:00          0.0             1.0   False  291.010
2017-06-29 07:00:00-05:00         10.0            12.0   False  292.500
2017-06-29 08:00:00-05:00         10.0            14.0   False  294.770
2017-06-29 09:00:00-05:00         33.0            52.0   False  296.680
2017-06-29 10:00:00-05:00        221.0           339.0   False  297.060
2017-06-29 11:00:00-05:00        258.0           426.0   False  298.070
2017-06-29 12:00:00-05:00        485.0           834.0   False  299.200
2017-06-29 13:00:00-05:00        478.0           847.0   False  300.450
2017-06-29 14:00:00-05:00        483.0           851.0   False  300.760
2017-06-29 15:00:00-05:00        455.0           818.0   False  300.750
2017-06-29 16:00:00-05:00        348.0           578.0   False  300.830
2017-06-29 17:00:00-05:00        563.0           930.0   False  300.900
2017-06-29 18:00:00-05:00        454.0           797.0   False  300.370
2017-06-29 19:00:00-05:00        582.0           942.0   False  299.450
2017-06-29 20:00:00-05:00        510.0           856.0   False  297.570
2017-06-29 21:00:00-05:00        658.0          1112.0   False  296.850
2017-06-29 22:00:00-05:00        607.0           956.0   False  296.830
2017-06-29 23:00:00-05:00        687.0          1093.0   False  295.980
2017-06-30 00:00:00-05:00        575.0           960.0   False  295.750

                           temp_min  temp_max  pressure  humidity  wind_speed  \
2014-01-01 00:00:00-05:00   267.590   270.930    1026.0      80.0         3.0
2014-01-01 01:00:00-05:00   267.040   270.930    1026.0      80.0         2.0
2014-01-01 02:00:00-05:00   266.480   270.370    1026.0      57.0         3.0
2014-01-01 03:00:00-05:00   265.930   270.370    1024.0      80.0         3.0
2014-01-01 04:00:00-05:00   265.370   270.370    1024.0      80.0         3.0
2014-01-01 05:00:00-05:00   265.370   270.370    1029.0      80.0         1.0
2014-01-01 06:00:00-05:00   265.370   270.370    1025.0      80.0         1.0
2014-01-01 07:00:00-05:00   263.710   270.370    1029.0      80.0         1.0
2014-01-01 08:00:00-05:00   264.260   270.370    1029.0      80.0         0.0
2014-01-01 09:00:00-05:00   265.370   272.040    1026.0      80.0         1.0
2014-01-01 10:00:00-05:00   268.710   272.590     993.0      63.0         3.0
2014-01-01 11:00:00-05:00   269.260   272.590    1026.0      80.0         1.0
2014-01-01 12:00:00-05:00   270.930   273.710    1025.0      80.0         3.0
2014-01-01 13:00:00-05:00   271.480   273.710    1029.0      80.0         3.0
2014-01-01 14:00:00-05:00   272.040   274.820    1028.0      80.0         1.0
2014-01-01 15:00:00-05:00   272.040   274.820    1027.0      80.0         1.0
2014-01-01 16:00:00-05:00   272.040   274.820    1027.0      80.0         0.0
2014-01-01 17:00:00-05:00   272.040   274.260    1027.0      80.0         3.0
2014-01-01 18:00:00-05:00   271.480   274.260    1027.0      80.0         0.0
2014-01-01 19:00:00-05:00   270.930   274.260    1027.0      80.0         0.0
2014-01-01 20:00:00-05:00   270.370   274.260    1026.0      80.0         1.0
2014-01-01 21:00:00-05:00   270.930   274.260    1026.0      80.0         1.0
2014-01-01 22:00:00-05:00   270.930   274.260    1026.0      80.0         1.0
2014-01-01 23:00:00-05:00   284.793   284.793    1022.0      80.0         3.0
2014-01-02 00:00:00-05:00   270.370   274.260    1023.0      80.0         2.0
2014-01-02 01:00:00-05:00   270.370   274.260    1023.0      80.0         2.0
2014-01-02 02:00:00-05:00   270.370   274.260    1023.0      80.0         3.0
2014-01-02 03:00:00-05:00   270.370   273.710    1022.0      80.0         3.0
2014-01-02 04:00:00-05:00   269.820   273.710    1021.0      80.0         3.0
2014-01-02 05:00:00-05:00   269.260   272.590    1020.0      80.0         4.0
...                             ...       ...       ...       ...         ...
2017-06-28 19:00:00-05:00   296.150   300.150    1019.0      33.0         2.0
2017-06-28 20:00:00-05:00   294.150   299.150    1019.0      38.0         2.0
2017-06-28 21:00:00-05:00   291.150   299.150    1020.0      38.0         2.0
2017-06-28 22:00:00-05:00   289.150   298.150    1020.0      40.0         2.0
2017-06-28 23:00:00-05:00   289.150   298.150    1020.0      46.0         2.0
2017-06-29 00:00:00-05:00   288.150   297.150    1020.0      49.0         1.0
2017-06-29 01:00:00-05:00   286.150   296.150    1021.0      52.0         3.0
2017-06-29 02:00:00-05:00   287.150   295.150    1021.0      60.0         3.0
2017-06-29 03:00:00-05:00   287.150   295.150    1021.0      63.0         2.0
2017-06-29 04:00:00-05:00   287.150   295.150    1021.0      72.0         2.0
2017-06-29 05:00:00-05:00   287.150   294.150    1021.0      68.0         3.0
2017-06-29 06:00:00-05:00   287.150   294.150    1021.0      68.0         3.0
2017-06-29 07:00:00-05:00   289.150   295.150    1021.0      64.0         5.0
2017-06-29 08:00:00-05:00   292.150   297.150    1021.0      64.0         5.0
2017-06-29 09:00:00-05:00   295.150   298.150    1020.0      50.0         8.0
2017-06-29 10:00:00-05:00   295.150   299.150    1020.0      47.0         4.0
2017-06-29 11:00:00-05:00   296.150   300.150    1020.0      57.0         5.0
2017-06-29 12:00:00-05:00   297.150   301.150    1019.0      45.0         2.0
2017-06-29 13:00:00-05:00   299.150   301.150    1018.0      51.0         5.0
2017-06-29 14:00:00-05:00   298.150   302.150    1018.0      39.0         5.0
2017-06-29 15:00:00-05:00   299.150   302.150    1018.0      45.0         5.0
2017-06-29 16:00:00-05:00   298.150   302.150    1017.0      42.0         4.0
2017-06-29 17:00:00-05:00   298.150   303.150    1016.0      45.0         6.0
2017-06-29 18:00:00-05:00   297.150   302.150    1016.0      54.0         4.0
2017-06-29 19:00:00-05:00   296.150   302.150    1017.0      57.0         6.0
2017-06-29 20:00:00-05:00   294.150   300.150    1017.0      57.0         7.0
2017-06-29 21:00:00-05:00   294.150   299.150    1017.0      64.0         7.0
2017-06-29 22:00:00-05:00   294.150   299.150    1017.0      64.0         7.0
2017-06-29 23:00:00-05:00   293.150   298.150    1017.0      69.0         7.0
2017-06-30 00:00:00-05:00   294.150   297.150    1017.0      64.0         8.0

                           wind_deg  weather_main  \
2014-01-01 00:00:00-05:00     313.0         Clear
2014-01-01 01:00:00-05:00     293.0         Clear
2014-01-01 02:00:00-05:00     244.0         Clear
2014-01-01 03:00:00-05:00     244.0         Clear
2014-01-01 04:00:00-05:00     244.0         Clear
2014-01-01 05:00:00-05:00     245.0         Clear
2014-01-01 06:00:00-05:00     124.0         Clear
2014-01-01 07:00:00-05:00     209.0         Clear
2014-01-01 08:00:00-05:00     218.0         Clear
2014-01-01 09:00:00-05:00     282.0         Clear
2014-01-01 10:00:00-05:00     244.0         Clear
2014-01-01 11:00:00-05:00     138.0         Clear
2014-01-01 12:00:00-05:00     244.0         Clear
2014-01-01 13:00:00-05:00     244.0         Clear
2014-01-01 14:00:00-05:00     243.0         Clear
2014-01-01 15:00:00-05:00     227.0         Clear
2014-01-01 16:00:00-05:00      25.0         Clear
2014-01-01 17:00:00-05:00     244.0         Clear
2014-01-01 18:00:00-05:00     264.0         Clear
2014-01-01 19:00:00-05:00      52.0         Clear
2014-01-01 20:00:00-05:00      44.0         Clear
2014-01-01 21:00:00-05:00      95.0         Clear
2014-01-01 22:00:00-05:00      95.0         Clear
2014-01-01 23:00:00-05:00     244.0         Clear
2014-01-02 00:00:00-05:00      68.0         Clear
2014-01-02 01:00:00-05:00      68.0         Clear
2014-01-02 02:00:00-05:00     244.0         Clear
2014-01-02 03:00:00-05:00      44.0         Clear
2014-01-02 04:00:00-05:00     244.0         Clear
2014-01-02 05:00:00-05:00     348.0          Snow
...                             ...           ...
2017-06-28 19:00:00-05:00     290.0         Clear
2017-06-28 20:00:00-05:00     254.0         Clear
2017-06-28 21:00:00-05:00     214.0         Clear
2017-06-28 22:00:00-05:00     214.0         Clear
2017-06-28 23:00:00-05:00     214.0          Rain
2017-06-29 00:00:00-05:00     270.0  Thunderstorm
2017-06-29 01:00:00-05:00     214.0         Clear
2017-06-29 02:00:00-05:00     214.0         Clear
2017-06-29 03:00:00-05:00     220.0        Clouds
2017-06-29 04:00:00-05:00       0.0        Clouds
2017-06-29 05:00:00-05:00     230.0        Clouds
2017-06-29 06:00:00-05:00     230.0        Clouds
2017-06-29 07:00:00-05:00     220.0        Clouds
2017-06-29 08:00:00-05:00     200.0        Clouds
2017-06-29 09:00:00-05:00     230.0        Clouds
2017-06-29 10:00:00-05:00     280.0         Clear
2017-06-29 11:00:00-05:00     220.0        Clouds
2017-06-29 12:00:00-05:00     220.0         Clear
2017-06-29 13:00:00-05:00     220.0        Clouds
2017-06-29 14:00:00-05:00     280.0         Clear
2017-06-29 15:00:00-05:00     210.0        Clouds
2017-06-29 16:00:00-05:00     200.0        Clouds
2017-06-29 17:00:00-05:00     220.0        Clouds
2017-06-29 18:00:00-05:00     190.0        Clouds
2017-06-29 19:00:00-05:00     180.0        Clouds
2017-06-29 20:00:00-05:00     180.0          Rain
2017-06-29 21:00:00-05:00     190.0          Rain
2017-06-29 22:00:00-05:00     200.0        Clouds
2017-06-29 23:00:00-05:00     200.0        Clouds
2017-06-30 00:00:00-05:00     210.0        Clouds

                                    weather_description Passengers
2014-01-01 00:00:00-05:00                  Sky is Clear        108
2014-01-01 01:00:00-05:00                  Sky is Clear          0
2014-01-01 02:00:00-05:00                  Sky is Clear          0
2014-01-01 03:00:00-05:00                  Sky is Clear          0
2014-01-01 04:00:00-05:00                  Sky is Clear          0
2014-01-01 05:00:00-05:00                  Sky is Clear        243
2014-01-01 06:00:00-05:00                  Sky is Clear        141
2014-01-01 07:00:00-05:00                  Sky is Clear        717
2014-01-01 08:00:00-05:00                  Sky is Clear        797
2014-01-01 09:00:00-05:00                  Sky is Clear        761
2014-01-01 10:00:00-05:00                  Sky is Clear        778
2014-01-01 11:00:00-05:00                  Sky is Clear        793
2014-01-01 12:00:00-05:00                  Sky is Clear        802
2014-01-01 13:00:00-05:00                  Sky is Clear       1282
2014-01-01 14:00:00-05:00                  Sky is Clear        771
2014-01-01 15:00:00-05:00                  Sky is Clear        840
2014-01-01 16:00:00-05:00                  Sky is Clear        482
2014-01-01 17:00:00-05:00                  Sky is Clear        692
2014-01-01 18:00:00-05:00                  Sky is Clear        491
2014-01-01 19:00:00-05:00                  Sky is Clear        686
2014-01-01 20:00:00-05:00                  Sky is Clear        724
2014-01-01 21:00:00-05:00                  Sky is Clear        325
2014-01-01 22:00:00-05:00                  Sky is Clear        199
2014-01-01 23:00:00-05:00                  Sky is Clear          0
2014-01-02 00:00:00-05:00                  Sky is Clear          0
2014-01-02 01:00:00-05:00                  Sky is Clear          0
2014-01-02 02:00:00-05:00                  Sky is Clear          0
2014-01-02 03:00:00-05:00                  Sky is Clear          0
2014-01-02 04:00:00-05:00                  Sky is Clear          0
2014-01-02 05:00:00-05:00                    light snow         38
...                                                 ...        ...
2017-06-28 19:00:00-05:00                  sky is clear        658
2017-06-28 20:00:00-05:00                  sky is clear         77
2017-06-28 21:00:00-05:00                  sky is clear        131
2017-06-28 22:00:00-05:00                  sky is clear          0
2017-06-28 23:00:00-05:00                    light rain        139
2017-06-29 00:00:00-05:00  thunderstorm with heavy rain          0
2017-06-29 01:00:00-05:00                  sky is clear          0
2017-06-29 02:00:00-05:00                  sky is clear          0
2017-06-29 03:00:00-05:00                 broken clouds          0
2017-06-29 04:00:00-05:00                 broken clouds       1219
2017-06-29 05:00:00-05:00                 broken clouds       1198
2017-06-29 06:00:00-05:00                 broken clouds       1083
2017-06-29 07:00:00-05:00                 broken clouds       1234
2017-06-29 08:00:00-05:00                 broken clouds        492
2017-06-29 09:00:00-05:00                 broken clouds       1515
2017-06-29 10:00:00-05:00                  sky is clear       1353
2017-06-29 11:00:00-05:00              scattered clouds        912
2017-06-29 12:00:00-05:00                  sky is clear        891
2017-06-29 13:00:00-05:00                 broken clouds        588
2017-06-29 14:00:00-05:00                  sky is clear       1473
2017-06-29 15:00:00-05:00                 broken clouds        940
2017-06-29 16:00:00-05:00                 broken clouds       1230
2017-06-29 17:00:00-05:00                 broken clouds       1315
2017-06-29 18:00:00-05:00              scattered clouds       1255
2017-06-29 19:00:00-05:00                 broken clouds        682
2017-06-29 20:00:00-05:00                 moderate rain        413
2017-06-29 21:00:00-05:00                 moderate rain          0
2017-06-29 22:00:00-05:00                 broken clouds          0
2017-06-29 23:00:00-05:00                 broken clouds          0
2017-06-30 00:00:00-05:00                 broken clouds        139

[30625 rows x 13 columns]>

In [132]:
merged_df.head()

,num_pickups,num_passengers,holiday,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,weather_main,weather_description,Passengers
2014-01-01 00:00:00-05:00,107,210.0,True,269.27,267.59,270.93,1026.0,80.0,3.0,313.0,Clear,Sky is Clear,108
2014-01-01 01:00:00-05:00,34,45.0,False,268.90,267.04,270.93,1026.0,80.0,2.0,293.0,Clear,Sky is Clear,0
2014-01-01 02:00:00-05:00,34,70.0,False,268.48,266.48,270.37,1026.0,57.0,3.0,244.0,Clear,Sky is Clear,0
2014-01-01 03:00:00-05:00,12,18.0,False,268.33,265.93,270.37,1024.0,80.0,3.0,244.0,Clear,Sky is Clear,0
2014-01-01 04:00:00-05:00,25,37.0,False,268.10,265.37,270.37,1024.0,80.0,3.0,244.0,Clear,Sky is Clear,0